<script type="text/javascript">
    var MAX_LENGTH = 30;

    var elem = document.getElementById("subjectInExample");

    function truncateFront(str) {
        if (!str.endsWith(" ") && elem.closest(".mobile")) {
            str = str + "-";
        }
        if (str.length <= MAX_LENGTH) return str.replaceAll(" ", "&nbsp;");

        var words = str.split(' ');
        var truncated = words.pop();
        var nextWord = words.length > 0 ? words[words.length - 1] : "";

        while (words.length > 0 && (`... ${nextWord} ${truncated}`).length <= MAX_LENGTH) {
            truncated = `${words.pop()} ${truncated}`;
            nextWord = words.length > 0 ? words[words.length - 1] : "";
        }

        return `... ${truncated}`.replaceAll(" ", "&nbsp;");
    }

    function truncateBack(str) {
        if (!str.startsWith(" ") && elem.closest(".mobile")) {
            str = "-" + str;
        }
        if (str.length <= MAX_LENGTH) return str.replaceAll(" ", "&nbsp;");

        var words = str.split(' ');
        var truncated = words.shift();
        var nextWord = words.length > 0 ? words[0] : "";

        while (words.length > 0 && (`${truncated} ${nextWord} ...`).length <= MAX_LENGTH) {
            truncated = `${truncated} ${words.shift()}`;
            nextWord = words.length > 0 ? words[0] : "";
        }

        return `${truncated} ...`.replaceAll(" ", "&nbsp;");
    }

    if (elem) {
        var content = elem.innerHTML;
        var regex = /^(.*?)({{text:Subject}})(.*?)(?=(\w*<br>)|\n|$)/i;
        var match = content.match(regex);

        if (match) {
            var front = truncateFront(match[1]);
            var subjectWord = match[2];
            var back = truncateBack(match[3]);

            elem.innerHTML = `<span class="before-subject">${front}</span><span class="subject">${subjectWord}</span><span class="after-subject">${back}</span>`;
        }
    }
</script>