<br>
{{#Pronunciation}}
<div>
    <hr class="hr_short theme-bg"/>
    <span class="play-button theme-bg">{{Pronunciation}}</span>
    <hr class="hr_short theme-bg"/>
</div>
{{/Pronunciation}}
{{^Pronunciation}}
<div>
    <hr class="hr_long theme-bg"/>
</div>
{{/Pronunciation}}